{% load static %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">

</head>

<body>

<!-- NAVBAR -->
<div class="navbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'accueil' %}">Mon Blog</a>

        <div>
            <a href="{% url 'ajouter' %}" class="btn btn-outline-light btn-sm">
                + Ajouter
            </a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="btn btn-outline-light btn-sm">
                    Se déconnecter
                </a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-light btn-sm">
                    Se connecter
                </a>
            {% endif %}
        </div>
    </div>
</div>

<!-- CONTENU -->
<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>